---
import BaseLayout from "$/components/BaseLayout.astro";
import { Breadcrumbs, BreadcrumbsLink } from "$/components/Breadcrumbs";

const { content } = Astro.props;

const [_, path] = new URL(Astro.request.url).pathname.split("/");
let pathname;
switch (path) {
  case "electronics":
    pathname = "Электроника"
  break;
  case "programming":
    pathname = "Программирование"
  break;
  case "woodworking":
    pathname = "Столярка"
  break;
}

---

<BaseLayout title={content.title}>
  <h2>{content.title}</h2>

  <Breadcrumbs current={content.title}>
    <BreadcrumbsLink to="/">Главная страница</BreadcrumbsLink>
    { pathname && (
      <BreadcrumbsLink to={`/${path}/`}>{pathname}</BreadcrumbsLink>
    )}
  </Breadcrumbs>

  <article class="md-content">
    {content.depreceated && (
      <div class="alert-box">
        Содержание этой статьи крайне устарело!
        Она здесь исключительно для исторического очерка, руководствование ей напрямую скорее принесёт больше вреда
        чем пользы.
      </div>
    )}
    <slot />
  </article>
</BaseLayout>

<style>
  .alert-box {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px dashed var(--clr-danger, red);
    border-radius: 5px;
  }
</style>